/*! == COMPONENTS == */

.button {
    background: white;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: $supporting-font;  
    border: 1px solid hsla(0, 0%, 100%, 0);
    color: $brand-primary;
    font-size: inherit;
    position: relative;
    vertical-align: middle;
    -webkit-appearance: none;
    transition: all 0.5s ease;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
     
    &:hover {
	    border: 1px solid hsla(0, 0%, 100%, 0.34);
	    background: transparent;
	    color: white;
	    cursor: pointer;
    }
    
    &__ghost {
        background: hsla(0, 0%, 0%, 0);
        border: 1px solid hsl(0, 0%, 100%);
        color: white;
        transition:all 0.5s ease;
        
        &:hover {
            background: white;
            color: $brand-primary;
        }
    }
    
    &__fullwidth {
        width:100%;
    }
     
    &__mandatory {
        text-transform: none;
        text-align: left;
        width:auto;
        min-width: 70%;
        display: inline-block;
    }
    
    &__transparent {
	    background: hsla(0, 0%, 0%, 0);
	    border: 1px solid $brand-secondary;
	    color: $brand-secondary;
	    
	    &:hover {
		    background: rgba($brand-primary, 0.2);
		    border: 1px solid $brand-primary;
		    color: $brand-primary;
	    }
    }
    
    &__transparent-light {
	    background: hsla(0, 0%, 0%, 0);
	    border: 1px solid hsla(0, 0%, 100%, 0.34);
	    color: white;
	    
	    &:hover {
    	    background: white;
    	    color: $brand-primary;
	    }
    }
    
    &__secondary-color {
	    background: $brand-primary;
	    border: none;
	    color: white;
	    
	    &:hover {
		    background: rgba($brand-primary, 0.8);
		    color: white;
		    border: none;
	    }
    }
    
    &__green {
        background:$brand-green;
        color: white;
        
        &:hover {
            background:hsl(88, 40%, 35%);
        }
    }
}

.trigger-expand,
.trigger-collapse {
    position: relative;
    transition:$fastEffect;
    font-family: $supporting-font;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 2px;
    padding:1em 10em 1em 1em;
    margin:0.5em 0;
    border:2px solid $brand-secondary;
    color: $brand-dark-grey !important;
    transition: all 0.5s ease;
     
  &:hover {
      cursor:pointer;
      background: $brand-dark-grey;
      border-color: $brand-dark-grey;
      color: white !important;
  }
}

a.next-section {
    position: absolute;
    bottom: 0;
    display: block;
    height: 4em;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
 
     &:before {
        position: absolute;
        content: '';
        bottom: 10px;
        left: 50%;
        margin-left: -4px;
        height: 0;
        width: 5px;
        background: hsl(0, 0%, 100%);
        -webkit-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        transition: height 0.5s ease;
        border-radius: 50px;
    }
    
    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -11px;
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        font-size: 26px;  
        transform:rotate(90deg);
    } 
    
    &:hover:before {
        height:30px;
    }
}

.collapsed-content {
    max-height: 0;
    overflow: hidden; 
    transition:max-height 0.5s ease;
    
    &.expand {
        max-height: 100vh;
    }
}

.logo-holder {
    margin-top: -10px;
 
    #logo {
        width: 100px;
        height:30px;
    }

    #letaka {
        opacity:0.6;
        transition:opacity 0.5s ease-in-out;
    
        path {
            fill: white;
        }
    }

    #created {
        opacity:0;
        transform: translateY(50px);
        transition: 1s transform ease, 2s opacity ease;

        path {
            fill: white;
        }
    }

    &:hover {
        cursor:pointer;

        #letaka {
            opacity:0.8;
        }

        #created {
              opacity:0.8;
              transform: translateY(0);
        }
    }
}

.quick-contact-form {
	
	span.wpcf7-not-valid-tip {
		color: rgba(white, 0.6);
	}
	
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		background: rgba(white, 0.4);
		border: none;
		padding: 0.5em;
		margin: 0.5em 0;
	}
}

.contact-directly-form {
	
	span input, span textarea {
		width: 100%;
	}
	
	span.wpcf7-not-valid-tip {
		color: rgba($brand-primary, 0.6);
		padding-bottom: 0.5em;
	}
	
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		background: rgba($brand-primary, 0.4);
		border: none;
		padding: 0.5em;
		margin: 0.5em 0;
		color: white;
	}
}

div.wpcf7 .main-enquire-form, div.wpcf7 .form-newsletter {
	
	.ajax-loader {
		display: block;
		margin-left: auto;
	}
	
	span.wpcf7-not-valid-tip {
		color: rgba($brand-primary, 0.6);
		padding-bottom: 0.5em;
	}
	
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		background: rgba($brand-primary, 0.4);
		border: none;
		padding: 0.5em;
		margin: 0.5em 0;
		color: white;
	}
}

.map-wrapper {
	overflow: hidden;
	position: relative;
}

#map-itinerary {
	overflow: hidden;
	width: 100%;
	height: 100%;
	
	.marker {
		background-color: white;
		width: 30px;
		height: 30px;
		border: 5px solid rgba($brand-primary, 0.75);
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		opacity: 0;
		transition: opacity 0.5s ease;
		
		&.visible {
			opacity: 1;
		}
	}
	
	.mapboxgl-ctrl-bottom-left {
        bottom: 0em;
        left: 2em;
        width: 25em;
	}
	
	.mapboxgl-canvas {
		outline: none;
	}
	
	.mapboxgl-popup {
		margin-top: 6em;
		max-width: 300px;
	}
	
	.mapboxgl-popup-content {
		text-align: left;
		background: $brand-primary;
		color: black;
		
		.mapboxgl-popup-close-button {
			outline: none;
			display: inline-block;
			background: none;
			margin-right: 0.5em;
			font-size: 1.2em;
			color: white;
			cursor: pointer;
			border: none;
		}
		
		.buttons-popup {
			width: 100%;
	        text-align: center;
		
			a {
				line-height: 1.4em;
				display: inline-block;
		        width: 100%;
		        background-color: black;
		        border: 1px solid white;
		        color: white;
		        font-size: 14px;
			    padding: 5px;
			    margin: 5px 0px;
			    letter-spacing: 0.1em;
			    cursor: pointer;
			    font-family: $body-font;
			    font-weight: 200;
			}
		}
		
		div {
			&.heading {
				font-size: 1.2em;
				font-weight: 100;
				display: inline-block;
				color: white;

			}
			
			&.detail {
				background: $brand-light-grey;
				color: hsl(69, 2%, 31%);
				padding: 0.5em;
				min-height: 5em;
			}
		}
	}
	
	.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	    border-top-color: white;
	}
}

.mapboxgl-ctrl-bottom-right {
    right: 2em;
    bottom: 1em;
}

.modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: block;
    
    &.is-visible {
	    visibility: visible;
	    
	    .modal-overlay {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
		
		.modal-transition {
			transform: translateY(-50%) translateX(50%);
			opacity: 1;
		}
	}
	
	.modal-overlay {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: hsla(0, 0%, 0%, 0.6);
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.3s, opacity 0.3s;
	}
	
	.modal-wrapper {
		border-radius: 0.3rem;
		position: absolute;
		z-index: 9999;
		top: 50%;
		right: 50%;
		width: 40vw;
		margin-left: -16em;

		.modal-header {
            position: absolute;
            top: 2em;
            right: 2em;
            z-index: 999999;
			
			.modal-close {
				position: absolute;
				top: 0;
				right: 0;
				padding: 1em;
				color: white;
				background: none;
				border: 0;
				outline: none;
				cursor: pointer;
				color: $brand-primary;
  
				i {
					font-size: 1.3em;
				}
  
				&:focus {
					outline: none;
				}
				
				&:hover {
					color: $brand-secondary;
				}
			}
			
			.modal-heading {
				font-size: 1.125em;
				margin: 0;
				color: white;
				font-family: $body-font;
				font-weight: 200;
				text-transform: uppercase;
			}

		}
		
		.modal-content {
			background: hsl(0, 0%, 96%);
			color: hsl(69, 2%, 31%);
			padding: 1em;
			
			& > *:first-child {
				margin-top: 0;
			}
			
			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.modal-transition {
		transition: all 0.3s 0.12s;
		transform: translateY(-10%) translateX(50%);
		opacity: 0;
	}
}
