/*! == MODULES == */

.hero {
    @include backgroundCover; 
    position: relative; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    z-index: 50; 
    padding-bottom: 2em; 

    &:before {
        @include childOverlay;
        background:black;
        opacity:0.2;
        z-index: -1
    }
    
    & > .container__bottom {
        align-self: flex-end;
        margin-bottom: 2em;
    }
    
    &__home {
	    
	    .container, .row {
		    height: 100%;
	    }
	    
	    .hero__content {
			display: grid;
			grid-template-rows: 50% 50%;
			align-items: flex-end;
	    }
    }
    
    &:not(.hero__home) {
	    align-items: center;
	    padding-top: 8em;
	    
	    & > .container > .row {
		    justify-content: center;
	    }
    }

    &__content {
	    height: 100%;
        position: relative;
        z-index: 10;
        text-align: center;
        
        img {
	        width: 35%;
        }
        
        .video-icon {
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        
	        i {
		        color: $brand-primary;
				background: white;
				padding: 0.4em;
				border-radius: 100%;
				height: 2em;
				width: 2em;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.8em;
			}
        }
        
        .action_buttons {
	        
	        .button {
		        margin: 1em;
	        }
        }
    }
    
    &__carousel {
        display: block;
        padding:0;
    }
    
    &__copy {
	    font-size: 1.3em;
		width: 70%;
		display: inline-block;
    }
    
    .row {
	    height: 100%;
    }
}

.fullscreen-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


.tabs {
    margin-bottom: 3em;
    
    &__top {

        .nav {
            width: 100%;
            text-align: center;
            
            li {
                width:33.3%;
                padding: 1em;
            }
        }        
    }
    
    &__bottom {
        padding: 2em;
        background: $brand-light-grey;        
    }
    
    .nav-item.active {
        background: $brand-light-grey;
    
        img {
            width: 100%;
            height: auto;  
            margin-bottom: 2em;      
        }  
    }
}

.expanding-copy {
    overflow:hidden;
    
    &__more {
        max-height: 0;
        transition: max-height 0.5s ease;
        overflow:hidden;
    }
    
    .trigger-collapse {
        display: none;
    }
    
    &.expand {
        
        .expanding-copy__more {
            max-height: 100vh;
        }
        
        .trigger-expand {
            display:none;
        }
        
        .trigger-collapse {
            display: inline-block;
        }
    }
}

.learn-more {
    
    &__content {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2em;
        background: white;
        
        img {
            grid-row: 1 / span 3;
        }
        
        .copy {
            padding-left: 2em;
        }
    }
}

.owl-carousel,
.owl-stage-outer,
.owl-carousel .owl-stage,
.owl-item {
    height: auto;
}

.owl-carousel {
    
    .owl-item {
        padding-bottom: 20px;
    }

    .owl-nav {
        position: absolute;
        top:50%;
        width:100%;
        margin-top: -2em;
        
        button {
            z-index: 2;
            position: absolute;
            font-size: 4em !important;
            color: hsl(0, 0%, 100%) !important;

            span {
                display: none;
            }

            &:after {
                content:'';
                position: absolute;
                width:50px;
                height: 50px;
                background: hsla(0, 0%, 100%, 0.3);
                transition: background 0.5s ease;
            }

            &:hover:after {
                background: hsla(0, 0%, 100%, 0.6);
            }

            &:before {
                content:'';
                position: absolute;
                width: 30px;
                height: 30px;
                top: 10px;
                transform:rotate(-45deg);
                border-top:2px solid black;
                border-left:2px solid black;
                z-index: 5;
            }

            &.owl-next {
                right: 50px;

                &:before {
                    right:-30px;
                    transform: rotate(135deg);
                }
            }
            &.owl-prev {
                left: 0;

                &:before {
                    left:15px;
                }
            }
            &:focus {
                -webkit-appearance: none;
                outline:none;
            }
        }
    }
}

.carousel {
    
    &__item {
        @include backgroundCover; 
        position: relative;         
        height: 100%;
        display: grid;
        align-content: flex-end;
        padding-bottom: 10%;
    }
    
}

body .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5em;

    a {
        @include backgroundCover;
        position: relative;
        display: block;
        min-height: 12em;
        transition: box-shadow 0.3s ease;
        margin-top: 5px;

        &:hover {
            position: relative;
            z-index: 400;
            box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, 0.3);
        }
        
        &:nth-of-type(8n - 7){
            flex: calc(25% - 5px);
            margin-right: 5px;
        }
        
        &:nth-of-type(8n - 6){
            flex: calc(40% - 5px);
            margin-right: 5px;
        }
        
        &:nth-of-type(8n - 5){
            flex: calc(20% - 5px);
            margin-right: 5px;
        }        

        &:nth-of-type(8n - 4) {
	        flex: 15%;
        }
        
        &:nth-of-type(8n - 3) {
	        flex: calc(15% - 5px);
	        margin-right: 5px;
	    }
	    
        &:nth-of-type(8n - 2) {
           flex: calc(20% - 5px);
           margin-right: 5px;
        }
        
        &:nth-of-type(8n - 1) {
           flex: calc(40% - 5px);
           margin-right: 5px;
        }
        
        &:nth-of-type(8n) {
           flex: 25%;
        }
                
    }
    
    &.safari {
        
        a {
            
            &:nth-of-type(1){
                flex: calc(65% - 5px);
                margin-right: 5px;
            }
            
            &:nth-of-type(2){
                flex: calc(35% - 5px);
                margin-right: 5px;
            }
            
            &:nth-of-type(3){
                flex: calc(28% - 5px);
                margin-right: 5px;
            }        
    
            &:nth-of-type(4) {
    	        flex: 50%;
            margin-right: 5px;
            }            
        }
    }
    
    &.region {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        a {
            margin-right: 1px;
            min-height: 4em;
            margin-top: 1px;
        }
        
    }
    
}

.filter-gallery {
    margin-bottom: 3em;

    &__filter {
        margin-bottom: 1em;
        padding-bottom: 0.5em;
        border-bottom: 3px solid $brand-dark-grey;
        text-align: center;
        
        a {
            position: relative;
            margin: 0 0.5em;    
        
            &:after {
                content:'';
                position: absolute;
                bottom: -11px;
                left: 50%;
                margin-left: -10px;    
                width: 20px;
                height: 10px;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent $brand-dark-grey transparent;          
                opacity:0;
                transition:all 0.5s ease;  
            }   
             
            &:hover {
                color: $brand-secondary !important;
                cursor:pointer;
            }
            
            &:hover:after {
                opacity:1;
            }
            
            &.mixitup-control-active {
            
                color: $brand-secondary;
                
                &:after {
                    opacity: 1;
                }
                
            }
        }
    }
    
    &__wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: 4px;
    width: 100%;
    }
    
    &__item {
        @include backgroundCover;
        flex: auto;
        height: 250px;
        min-width: 200px;
        margin: 0 8px 8px 0; /* Some gutter */   
    
        &:nth-of-type(4n+1) {
          width: 30%;
        }
        
        &:nth-of-type(1n+1) {
          width: 20%;
        }
        
        &:nth-of-type(2n+1) {
          width: 38%;
        }
        
        &:nth-of-type(3n+1) {
          width: 30%;
        }
        
        &:nth-of-type(4n+1) {
          width: 24%;
        }    
        
        &:nth-of-type(5n+1) {
          width: 24%;
        }          
        
        &:nth-of-type(6n+1) {
          width: 19%;
        }              
    }
}

.itemised-list p {
    position: relative;
    padding-left: 2em;
    
    &:before {
        content: '';
        width: 1em;
        height: 1em;
        background: hsl(0, 0%, 85%);
        position: absolute;
        left: 0;
        top: 0.25em;
    }
}

.toggle {

    &__question {
    
        &:hover {
            cursor: pointer;
        }
    
        p {
            position: relative;
        
            span {
                position: absolute;
                left: -3em;
            }
        }
    
        i {
            position: absolute;
            right: 1em;
            transform: rotate(45deg);  
            transition: all .5s ease;
        }  
    }
    
    &__answer {
        max-height: 0;
        overflow: hidden;
        transition:max-height .5s ease;
    }
}

.toggle.active {

    .toggle__question i {
        transform: rotate(0deg);
    }

    .toggle__answer {
        max-height: 100vh;
    }
}

.testimonial-slider {
    margin-bottom: 5em;
    
    &__item {
        position: relative;
        background:$brand-mid-grey;
        padding:2em 5em 2em 2em;
        font-size: 1.3em;
        line-height: 1.4em;
        font-style: italic;
        text-align: justify;
        color: white;
        
        &:before {
            content:'';
            position: absolute;
            bottom:-20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px 0 20px;
            border-color: $brand-mid-grey transparent transparent transparent; 
        }
        
        p {
            margin-bottom: 0;
        }
        
        span {
            display: block;
            font-size: 0.5em;
            font-style: normal;
            font-weight: 200;
            text-transform: uppercase;
            color: $brand-primary;
        }
    }
}

.post-summary {
    margin-bottom: 3em;
    
    &__item {
        position: relative;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(4, min-content);
        grid-column-gap: 2em;
        border-bottom: 3px solid $brand-light-grey;
        padding-bottom: 1em;
        margin-bottom: 1em;
        
        &:last-of-type {
            border:none;
        }
        
        .post-image {
            grid-row-start:1;
            grid-row-end: 5;
            } 
        
        .heading {
            grid-row-start:1;
            grid-row-end: 2;            
            }

        p:nth-of-type(1) {
            grid-row-start:2;
            grid-row-end: 3;            
            }            
        p:nth-of-type(2) {
            grid-row-start:3;
            grid-row-end: 4;            
        }              
        
        .button {
            width: fit-content;    
        }    
    }
}

.formWrapper {
    
    input, textarea {
        width: 100%;
        border: none;
        font-size: 1.2em;
        font-family: $supporting-font;
        padding: 0.25em 0.5em;
        margin-bottom: 1em;
    }
    
    textarea {
        height:5em;
    }
    
    label {
        position:relative;
        display: block;
        text-transform: none;
        margin: 0;
        font-size: 1em;
        font-family: $supporting-font;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        span{
            position: absolute;
            right:0;
            color: $brand-dark-grey;
        }
    }
    
    .extra-fields {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease;
    }
    
    .submit, .expand-form {
        display: inline-block;
        width: auto;
        margin-right: 4%;
        padding: 1em 3em;
        text-transform: uppercase;
        text-align: center;
        font-family: $supporting-font;
        font-weight: 600;
        font-size: 0.75em;
        background: $brand-secondary;
        color: white;
    }
    
    ::placeholder {
        font-family: $supporting-font;
        font-style: italic;
        font-size: 0.75em;
        color: grey;
    }
}

.contactSocials {
    
    a {
        margin-right: 1em;
        font-size: 0.8em;
        color: $brand-primary;
    }
}

.mapboxgl-popup-content {
    background: $brand-secondary;
    color: hsl(0, 0%, 100%);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $brand-secondary;
}

.mapboxgl-popup-close-button {
    display: none;
}

