/*! == THEME STYLES == */

/*===========HEADER==========*/

/*===========BODY==========*/

.small-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.hero {
    
    &__safari-meta {
        display: block;

        p {
            display: inline-block;
            margin:0 2em;
            color: white;
        }
    }

    &__safari-buttons {
        a {
            margin:0 1em;
        }
    }

    &__safari-desc {
        width: 50%;
        margin: 0 auto 2em;
        font-size: 1em;
        font-family: $brand-font;
        font-weight: 400;
        color: white;
    }
    
    .heading {
	    text-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.2)
    }
    
}

.safari-features {
    @include backgroundCover;
    @include gridCenter;
    height:15em;
    justify-content: left;
    padding-left:5em;
    position: relative;
    
    &::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: black;
		opacity: 0.3;
    }
    
    p {
        position: relative;
        
        &:before {
            content:'';
            position: absolute;
            left: -2em;
            top:0.5em;
            width:0.5em;
            height: 0.5em;
            background: white;
        }        
    }
}

.safari-activities {
	
	.wrapper-activities {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
    
    &__item {
        display: inline-block;
        width: calc(24% - 2em);
        text-transform: uppercase;
        font-size: 0.75em;
        margin: 1em;
        
        img {
            width: 100%;
        }
        
        p {
	        margin: 0;
        }
    }
}

.list p {
    position: relative;
    padding-left:2em;
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top:0.65em;
        width:0.25em;
        height: 0.25em;
        border-radius:50px;
        background: $brand-secondary;
    }   
}

.daily-activity {
    
    &__day-meta p {
        position: relative;
        padding-left:2em;   
    
        &:first-of-type {
            padding-left:0;
        }
    
        i {
            position: absolute;
            left: 0;
            bottom: 0.25em;
            color: $brand-secondary;
        } 
        
        img {
            position: absolute;
            left: 0;
            bottom: 0.25em;
            width: 1.25em;
            color: $brand-tertiary;            
        }               
    }  
}

.gallery.safari a {
    min-height: 10em;
}

.has-sidebar {
	display: grid;
	grid-template-columns: calc(25% - 1em) calc(75% - 1em);
	grid-column-gap: 2em;
}

.sidebar-menu {
    background: hsl(0, 0%, 88%);
    padding: 1.5em;
    list-style-type: none;
    
    li {
        margin-bottom: 1.5em;
        line-height: 2em;
        margin-bottom: 0;
        font-weight: 400;
        color: hsl(0, 66%, 14%);
    }

}

.our-safaris {
	
	.wrapper-actions {
		
		.wrapper {
			@include backgroundCover;
			height: 50vh;
			display: flex;
			flex-direction: column;
			padding: 2.5em;
			text-align: center;
			
			&:not(:first-of-type) {
				margin-left: 1em; 
			}
			
			&:not(:last-of-type) {
				margin-right: 1em; 
			}
			
			h3 {
				flex: 1;
			}
			
			.wrapper-buttons {
				width: 100%;
				align-self: flex-end;
				text-align: center;
				
				a {
					width: 70%;
				}
			}
		}
	}
}

.why-letaka {
	
	.wrapper-selectors {
		
		.selector {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			cursor: pointer;
			height: 100%;
			
			.arrow {
				position: relative;
				padding-bottom: 2em;
			
				&::before {
					content: "\f078";
					font-family: 'Font Awesome 5 Free';
					font-weight: 600;
					font-size: 1.5em;
					color: $brand-mid-grey;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0);
					transition: $fastEffect;
				}
			}
			
			&:hover .arrow::before, &.active .arrow::before {
				transform: translate(-50%, 0.5em);
				color: $brand-secondary;
			}
			
			.heading {
				flex-grow: 1;
				display: flex;
				align-items: center;
			}
		}
	}
	
	.wrapper-actions {
		
		.action {
			display: none;
			opacity: 0;
			grid-template-columns: 40% 60%;
			background: $brand-primary;
			color: white;
			
			&.active {
				display: grid;
				opacity: 1;
			}
			
			.content {
				padding: 2em;
			}
			
			.description {
				text-align: justify;
				line-height: 1.8;
			}
			
			.img {
				@include backgroundCover;
				min-height: 30em;
			}
		}
	}

}

.latest-news {
	
	.wrapper-news {
		display: grid;
		grid-template-columns: 40% calc(60% - 2em);
		grid-column-gap: 2em;
	}
}

.find-safari {
	
	.results {
		
		.your-search {
			transition: padding 0.5s ease;
			
			.search-block {
				position: relative;
				display: inline-block;
				text-transform: uppercase;
				background: $brand-mid-grey;
				color: white;
				padding: 1em 2.8em 1em 1em;
				margin: 0 0.5em 0.5em 0;
				font-size: 0.85em;
				cursor: pointer;
				font-weight: 400;
				
				&.hidden {
					opacity: 0;
					transform: scale(0);
					transition: all 0.5s ease;
				}
				
				&.visible {
					opacity: 1;
					transform: scale(1);
				}
				
				&:before {
					content: "\f00d";
					font-family: 'Font Awesome 5 Free';
					font-weight: 600;
					font-size: 1.2em;
					right: 1.2em;
					top: 50%;
					position: absolute;
					transform: translate(50%, -50%);
				}
				
				div {
					height: 1.2em;
					overflow: hidden;
					word-break: break-all;
				}
			}
		}
		
		.wrapper-itinerary {
			display: block;
			
			&:not(:first-child) {
				
				.tours {
					display: none;
				}
			}
			
			&:not(:last-child) {
				margin-bottom: 3em;
			}
		}
		
		.itinerary-header {
			display: grid;
			grid-template-columns: 45% 55%;
			
			.info {
				background: grey;
				color: white;
				padding: 1em 2em;
				text-transform: uppercase;
				
				.location {
					font-size: 0.8em;
				}
				
				.title {
					letter-spacing: 0.05em;
				}
				
				.details {
					font-size: 0.9em;
					
					& > div {
						display: inline-block;
						
						&:not(:first-child) {
							padding-left: 1em;
						}
						
						&:not(:last-child) {
							padding-right: 1em;
						}
					}
				
					.duration {
						i {
							font-size: 1.8em;
							margin-right: 0.2em;
						}
					}
					
					.price {
						border-left: 2px dashed hsla(0, 0%, 100%, 0.65);
						border-right: 2px dashed hsla(0, 0%, 100%, 0.65);

						span {
							display: block;
							font-size: 0.7em;
						}
					}
				}
			}
			
			.img {
				@include backgroundCover;
				
				.see-tours {
					height: 100%;
					background: hsla(0, 0%, 100%, 0.7);
					width: 30%;
					float: right;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-transform: uppercase;
					font-size: 0.9em;
					letter-spacing: 0.05em;
					font-weight: 700;
					color: $brand-primary;
					cursor: pointer;
					
					i {
						font-size: 2em;
						margin-top: 0.5em;
					}
				}
			}
		}
		
		.tours {
			
			.wrapper-tour {
				display: grid;
				grid-template-columns: 1% 39% 21.75% 21.75% 16.5%;
				background: $brand-mid-grey;
				margin-top: 0.3em;
				font-weight: 400;
				
				.bar, .book {
					background: $brand-green;
				}
				
				.date, .availability, .price, .book {
					padding: 1em;
					border-left: 0.1em solid hsl(0, 0%, 96%);
				}
				
				.book {
					display: flex;
					align-items: center;
					justify-content: center;
					text-transform: uppercase;
					font-weight: bold;
					color: white;
					cursor: pointer;
				}
				
				i {
					padding-right: 0.5em;
					font-size: 1.2em;
				}
				
				&.full {
					.bar, .book {
						background: grey;
					}
					
					.book {
						cursor: default;
					}
					
					.availability span {
						color: $brand-red;
					}
				}
			}
		}
	}
}

.find-agent {
	
	.wrapper-countries {
		
		&:not(:first-of-type) {
			margin-top: 1em;
		}
	
		.country {
			background: grey;
			color: white;
			text-transform: uppercase;
			padding: 0.5em 1em;
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			
			&.opened i {
				transform: rotate(90deg);
			}
			
			i {
				float: right;
			    position: absolute;
			    right: 1em;
			    transition: $fastEffect;
			}
		}
	}
	
	.wrapper-agents {
		
		.agent {
			background: $brand-light-grey;
			display: grid;
			grid-template-columns: 40% 30% 30%;
			margin-top: 0.3em;
			font-weight: 400;
			padding: 0.5em 0em 0.5em 1em;
			word-wrap: break-word;
			
			.title {
				display: block;
				
				.type {
					font-size: 0.8em;
					text-transform: uppercase;
					color: $brand-secondary;
				}
			}
			
			.button {
				display: block;
				margin: 0 1em;
				padding: 0.5em;
				font-size: 0.9em;
			}
			
			.info {
				text-transform: none;
			}
		}
	}
}

.about-us {
	
	p {
		font-size: 1em;
	}
	
	.links a {
		
		&.active {
			background: grey;
			color: white;
		}
		
		&:not(.active):hover {
			background: $brand-mid-grey;
		}
	}
}

.our-team {
	
	.wrapper-team {
		align-items: center;
	
		.img {
			@include backgroundCover;
			width: 8em;
			height: 8em;
			border-radius: 50%;
		}
		
		.name {
			font-size: 1.5em;
		}
		
		.role {
			font-size: 0.9em;
			text-transform: uppercase;
			display: block;
		}
		
		.phone, .email {
			color: $brand-secondary;
		}
	}
}

.team-member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
    
    .content {
        display: inline-grid;
        align-content: center;
        min-height: 13em;
        padding:1em;
        background: $brand-light-grey;
    }
    
    .img {
        @include backgroundCover;
        height:100%;
    }
}

.sidebar {
	
	.title {
		text-transform: uppercase;
		background: $brand-primary;
		color: white;
		font-size: 1.2em;
		font-weight: 400;
		letter-spacing: 0.05em;
		height: 3rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 1rem;
		
		.collapsible-icon {
			display: none;
			flex-grow: 1;
			text-align: right;
			
			i {
				padding: 0 0.5em;
				font-size: 1.2em;
				transition: $fastEffect;
			}
		}
	}
	
	.item {
		display: block;
		font-size: 1em;
		background: $brand-light-grey;
		padding: 0.7em 1em;
		color: $brand-primary;
		font-weight: 400;
		letter-spacing: 0.02em;
		margin: 0;
		transition: $fastEffect;
		
		&.active {
			background: grey;
			color: white;
		}
		
		&:not(.active):hover {
			background: $brand-mid-grey;
		}
	}
	
	.our-details {
		
		a {
			text-transform: none;
		}
		
		.socials {
			display: flex;
			
			i {
				font-size: 1.2em;
				font-weight: 100;
				margin: 0 0.5em;
			}
		}
	}
}

.news {
	
	.align-center {
		margin: auto;
	}
	
	.wrapper-news {
		display: grid;
		grid-template-columns: calc(50% - 1em) calc(50% - 1em);
		column-gap: 2em;
		margin: auto;
	}
}

.galleries, .our-guides, .page-news, .history, .bespoke-film {
	
	.gallery {
		margin-bottom: 0em;
		
		a {
			display: inline-block;
			flex-grow: unset !important;
			min-height: 15em;
			margin-right: 5px;
			
			
			&:nth-of-type(9n - 8){
	            flex: calc(25% - 5px);
	        }
	        
	        &:nth-of-type(9n - 7){
	            flex: calc(40% - 5px);
	        }
	        
	        &:nth-of-type(9n - 6){
	            flex: calc(35% - 5px)
	        }
	        
	        &:nth-of-type(9n - 5){
	            flex: calc(40% - 5px)
	        }        
	
	        &:nth-of-type(9n - 4) {
		        flex: calc(35% - 5px)
	        }
	        
	        &:nth-of-type(9n - 3) {
		        flex: calc(25% - 5px)
		    }
		    
	        &:nth-of-type(9n - 2) {
	           flex: calc(30% - 5px)
	        }
	        
	        &:nth-of-type(9n - 1) {
	           flex: calc(30% - 5px)
	        }
	        
	        &:nth-of-type(9n) {
	           flex: calc(40% - 5px)
	        }
	    }
	}
}

.our-guides {
	
	.wrapper-guides {
		
		&:not(:first-of-type) {
			margin-top: 1em;
		}
	
		.guide {
			background: grey;
			color: white;
			text-transform: uppercase;
			padding: 1em 5em;
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			
			.img {
				@include backgroundCover;
				position: absolute;
				left: 0;
				height: 100%;
				width: 4em;
			}
			
			&.opened i {
				transform: rotate(90deg);
			}
			
			i {
				float: right;
			    position: absolute;
			    right: 1em;
			    transition: $fastEffect;
			}
		}
		
		.info {
			
			.row {
				margin: 0.3em 0 0 0;
				background: $brand-light-grey;
				padding: 1em;
			}
			
			.img {
				@include backgroundCover;
				min-height: 20em;
			}
		}
		
		.gallery {
			width: 100%;
			margin-bottom: 0;
			
			a {
				&:nth-child(n) {
					flex: calc(10% - 5px);	
					min-height: 5em;
				}
			}
		}
	}
	
}

.travel-info {
	
	p {
		font-size: 1em;
	}

	.pdf-wrapper {
		display: flex;
		align-items: center;
		line-height: unset;
		
		i {
			font-size: 1.5em;
			padding-right: 0.5em;
		}
	}
	
	.faq {
		
		.wrapper-questions {
			
			&:not(:first-of-type) {
				margin-top: 1em;
			}
			
			.question {
				background: grey;
				color: white;
				padding: 0.5em 1em;
				position: relative;
				display: flex;
				align-items: center;
				cursor: pointer;
				font-weight: 400;
				
				&.opened i {
					transform: rotate(90deg);
				}
				
				i {
					float: right;
				    position: absolute;
				    right: 1em;
				    transition: $fastEffect;
				}
			}
			
			.answer {
				padding: 1em;
				margin-top: 0.3em;
				background: $brand-light-grey;
			}
		}
	}
}

.page-news, .bespoke-film, .terms-privacy, .search-page {
	p {
		font-size: 1em;
	}
}

.page-news {
	
	.adjacent-posts {
	
		.col-6 {
			&:first-of-type {
				text-align: left;
			}
			
			&:last-of-type {
				text-align: right;
			}
		}
		
		a {
			display: inline-flex;
			padding: 1em;
			align-items: center;
			justify-content: center;
		
			i {
				align-items: center;
				
				&.fa-chevron-right {
					padding-left: 10px;
				}
				
				&.fa-chevron-left {
					padding-right: 10px;
				}
			}
		}
	}
}

.search-page {
	
	.align-center {
		margin: auto;
	}
	
	.wrapper-news {
		display: grid;
		grid-template-columns: calc(50% - 1em) calc(50% - 1em);
		column-gap: 2em;
		margin: auto;
	}
}

.pagination {
	justify-content: flex-end;
	
	a, span {
		background: $brand-secondary;
		color: white;
		margin: 0.5em;
		padding: 1em;
		display: inline-block;
		line-height: 1em;
		border-radius: 50%;
		height: 2.5em;
		width: 2.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1em;
		font-weight: 400;
		
		i {
			font-size: 1.5em;
		}
	}
	
	span.current {
		background: white;
		border: 2px solid $brand-secondary;
		color: $brand-secondary;
		font-weight: 700;
	}
}

.wrapper-news {
	
	.img {
		@include backgroundCover;
	}
	
	.description {
		text-align: justify;
	}
	
	.action-buttons {
		font-size: 0.9em;
		display: grid;
		grid-template-columns: calc(45% - 0.5em) calc(55% - 0.5em);
		grid-column-gap: 1em;
		
		div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.button {
			display: block;
			margin: 1em 0;
			width: 100%;
		}
	}
}

.filter {
		
	.label {
		margin-top: 0.5em;
		text-transform: uppercase;
		background: $brand-mid-grey;
		color: $brand-primary;
		font-size: 1.1em;
		font-weight: 600;
		height: 3rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 3em;
		position: relative;
		cursor: pointer;
		
		&.closed {
			display: none;
		}
		
		i {
			transition: transform 0.5s ease;
			position: absolute;
			right: 2rem;
			font-size: 1.2em;
			
			&.closed {
				transform: rotate(-90deg);
			}
		}
	}
	
	.wrapper-checkbox {
		background: $brand-light-grey;
		padding: 1.5em;
		
		& > div {
			padding-top: 1.5em;
			
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		&.dates {
			display: grid;
			grid-template-columns: auto auto auto;
			
			& > div {
				
				&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
					padding-top: 0em;
				}
			}
		}
		
		&.galleries {
			
			button {
				background: none;
				border: none;
				outline: none;
				padding: 0;
			}
		}
		
		.checkbox {
			display: inline-block;
			position: relative;
			cursor: pointer;
			
			input[type="checkbox"] {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				cursor: pointer;
				margin: 0;
				opacity: 0;
				z-index: 1;
				
				&:checked ~ label:after {
					opacity: 1;
				}
			}
			
			label {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				padding-left: 2.5em;
				line-height: 2em;
				margin-bottom: 0;
				font-weight: 400;
				color: $brand-primary;
				
				&:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0.25em;
                    width: 1.5em;
                    height: 1.5em;
                    margin-right: 10px;
                    background: hsl(0, 0%, 100%);
				}
				
				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 0.25em;
					left: 0;
					width: 1.5em;
					height: 1.5em;
					background: $brand-secondary;
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}
	
	.wrapper-radio {
		background: $brand-light-grey;
		padding: 1.5em;
		
		& > div {
			padding-top: 1.5em;
			
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		.radio {
			display: inline-block;
			position: relative;
			cursor: pointer;
			
			input[type="radio"] {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				cursor: pointer;
				margin: 0;
				opacity: 0;
				z-index: 1;
				
				&:checked ~ label:after {
					opacity: 1;
				}
			}
			
			label {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				padding-left: 2.5em;
				line-height: 2em;
				margin-bottom: 0;
				font-weight: 400;
				color: $brand-primary;
				
				&:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0.25em;
                    width: 1.5em;
                    height: 1.5em;
                    margin-right: 10px;
                    background: hsl(0, 0%, 100%);
				}
				
				&:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0.5em;
                    left: 0.25em;
                    width: 1em;
                    height: 1em;
                    background: $brand-secondary;
                    opacity: 0;
                    pointer-events: none;
				}
			}
		}
	}
}

.contact-us, .modal {
		
	.form-wrapper {
		display: block;
		
		br {
			display: none;
		}
		
		label {
			display: block;
			text-transform: uppercase;
			font-size: 0.9em;
			background: $brand-mid-grey;
			padding: 0.5em;
			color: $brand-primary;
			font-weight: 700;
			letter-spacing: 0.02em;
			margin: 0.5em 0 0 0;
		}
		
		input:not([type=submit]):not([type=button]), textarea {
			color: $brand-primary;
			width: 100%;
			outline: none;
			padding: 0.4em;
			border: none;
			background: $brand-light-grey;
			
			&::placeholder {
		        font-size: 0.9em;
		        color: $brand-secondary;
		        text-transform: uppercase;
		        font-weight: 600;
		    }
		}
		
		textarea {
			display: flex;
			max-height: 9.7em;
		}
		
		input[type=submit], input[type=button] {
			font-weight: normal;
			background: $brand-secondary;
			color: white;
			outline: none;
			margin-top: 1em;
			padding: 0.5em 2em;
			display: inline-block;
			margin-left: 0.5em;
			cursor: pointer;
			
			&.more-info {
				background: transparent;
				color: $brand-secondary;
				border: 1px solid $brand-secondary;
			}
		}
		
		.submit-button {
			grid-column: 1/3;
			text-align: right;
		}
		
		.submit-end {
			text-align: right;
			
			input[type=submit] {
				margin-top: 0;
				padding: 0.5em 4em;
			}
		}
		
		.extra-fields {
			
			&.hidden {
				display: none;
			}
		}
		
		.ajax-loader {
			display: block;
			margin-left: auto;
		}
	}
}

.cta {
	@include backgroundCover;
	position: relative;
	z-index: 0;
	
	&:before {
        @include childOverlay;
        background: black;
        opacity: 0.1;
        z-index: -1;
    }
	
	.content {
		padding: 2em 1em;
	}
	
	h3 {
		margin-bottom: 2.5em;
	}
}

.circle {
	width: 50px;
	height: 50px;
	background: white;
	margin: 0 auto 2em auto;
	border-radius: 100%;
}

.circle-red {
	width: 50px;
	height: 50px;
	background: $brand-secondary;
	margin: 0.5em;
	border-radius: 100%;
}

body .home-gallery {
	margin-bottom: 0;
	
	a {
		margin-top: 0px;
		margin-bottom: 5px;
	}
}

.modal {
	.wrapper-button {
		text-align: right;
		
		.button {
			display: inline-block;
			padding: 1em 4em;
		}
	}
}

.margin-auto {
	margin: auto;
}

.order {
	
	&-sidebar {
		order: 1;
	}
	
	&-cta {
		order: 3;
		
		&-only {
			order: 1;
			
			.cta:first-of-type {
				margin-top: 0;
			}
		}
	}
	
	&-content {
		order: 2;
	}
}

/*===========FOOTER==========*/

.pre-socket {
	
	.quick-contact {
		display: grid;
		grid-template-columns: 25% 75%;
		
		h3 {
			grid-column: 1/3;
		}
		
		.content {
			p {
				font-size: 1em;
				margin-bottom: 0.5em;
			}
			
			a {
				color: white;
				font-size: 1.2em;
				margin-top: 1em;
				
				&:not(:first-of-type) {
					margin-left: 1em;
				}
			}
		}
		
		.form-wrapper {
			display: grid;
			grid-template-columns: calc(50% - 1em) calc(50% - 1em);
			grid-column-gap: 2em;
			
			input:not([type=submit]), textarea {
				color: $brand-primary;
				width: 100%;
				outline: none;
				padding: 0.4em;
				border: none;
				
				&::placeholder {
			        font-size: 0.9em;
			        color: $brand-secondary;
			        text-transform: uppercase;
			        font-weight: 600;
			    }
			}
			
			textarea {
				max-height: 9.7em;
			}
			
			span.your-email input, span.your-telephone input {
				margin-top: 1em;
			}
			
			input[type=submit] {
				font-weight: normal;
				background: $brand-secondary;
				color: white;
				outline: none;
				margin-top: 1em;
				padding: 0.5em 4em;
				display: block;
				margin-left: auto;
			}
			
			.submit-button {
				grid-column: 1/3;
			}
		}
		
	}
	
	.quick-links {
		
		ul {
			padding: 0;
			
			li {
				font-size: 0.9em;
				list-style: none;
				text-transform: uppercase;
				margin-bottom: 0.5em;
				
				a {
					color: white;
				}
			}
		}
	}
}

.destination-wrapper {
    margin-bottom: 3em;
}

.country-wrapper {
    padding: 1em;
    background:$brand-light-grey;

}

.season {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:1px;
    
    &__month {
        
        text-align: center;
        
        &.high {
            background: hsl(0, 66%, 14%);
            color: hsl(0, 0%, 100%);
        }
        &.good {
            background: hsla(0, 58%, 14%, 0.72);
            color: hsl(0, 0%, 100%);
        }        
        &.low {
          background: hsla(0, 66%, 14%, 0.25);
          color: hsl(0, 0%, 100%);
        }        
    }
}

.season-key {
    width:50%;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-gap:1px;
    margin-top: 1em;
    text-align: center;
    
    p {
        line-height: 1em;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 400;
        margin-right: 0.5em;
    }
    
    .high {
        background: hsl(0, 66%, 14%);
        color: hsl(0, 0%, 100%);
    }
    .good {
        background: hsla(0, 58%, 14%, 0.72);
        color: hsl(0, 0%, 100%);
    }
    .low {
      background: hsla(0, 66%, 14%, 0.25);
      color: hsl(0, 0%, 100%);
    }    
}

.toggle.country {
    margin-bottom: 1px;
    
    .toggle__question {
	    padding: 0.5em;
	    background: $brand-mid-grey;
	    transition: all .5s ease;
    
        i {
            transform: rotate(0deg);
            color: hsl(69, 2%, 31%);
        }
    
    } 
        
    .toggle__question p {
      margin-bottom: 0;
      font-weight: 400;
    }
       
}

.toggle.country.active {

    .toggle__question {
        background: $brand-primary;
        color: white;
            
        i {
            transform: rotate(90deg);
            color: white;
        } 
    }   
}

/*===========PAGE SPECIFIC==========*/


/*===========VENDOR ADJUSTMENTS==========*/

